<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @generic_name.title %>
</p>

<%= link_to 'Edit', edit_admins_generic_name_path(@generic_name) %> |
<%= link_to 'Back', admins_generic_names_path %>
