html, body {
  height: 100%;
}

main {
  margin: 50px 0;
  min-height: 600px;
}

.d-flex {
  background-color: #00aa8e;
}

.site-header, .site-footer {
  background-color: rgba(0, 170, 142, 1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a, .site-footer a {
  color: white;
  transition: color .15s ease-in-out;
}

.site-header a:hover, .site-footer a:hover {
  color: #ecf1ef;
  text-decoration: none;
  background: transparent;
}

.container {
  max-width: 960px;
}

.site-footer .container {
  margin: 0 auto;
}
