<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @generic_name.title %>
</p>

<%= link_to 'Edit', edit_generic_name_path(@generic_name) %> |
<%= link_to 'Back', generic_names_path %>
