<h1>Admin</h1>
<%= link_to "Add New Pharmacist/Physician", new_admins_admin_path %>
<%= link_to "Add ATC Code", new_admins_atc_code_path %>
<%= link_to "Add Country", new_admins_country_path %>
<%= link_to "Add Generic Name", new_admins_generic_name_path %>