<footer class="pt-4 my-md-5 pt-md-5 pb-md-5 border-top site-footer">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="col-2 col-md-2">
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "logo.png", width: 35, alt: t("application_name") %>
      <% end %>
      <small class="text-white">&copy; <%= Date.today.year %></small>
    </div>

    <ul class="list-unstyled text-small d-flex flex-column flex-md-row justify-content-between">
      <li><a class="text-decoration-none text-white" href="#">Team | </a></li>
      <li><a class="text-decoration-none text-white" href="#">&nbsp; Locations |  </a></li>
      <li><a class="text-decoration-none text-white" href="#">&nbsp; Privacy |  </a></li>
      <li><a class=" text-decoration-none text-white" href="#">&nbsp; Terms </a></li>
    </ul>
  </div>
</footer>